{% extends 'base.html' %}

{% block content %}

<h2> İletişim Bilgileri: </h2>
<div class="book">
    <div class="solB">
        <label class="lbl"> LinkedIn : </label><br><br>
        <label class="lbl"> GitHub : </label><br><br>
        <label class="lbl"> Mail : </label><br><br>
    </div>
    <div class="sagB"> 
        <a href="https://www.linkedin.com/in/büşra-sağırr/" target="_blank" class="lbl">linkedin.com/in/büşra-sağırr</a><br><br>
        <a href="https://github.com/busrasagirr" target="_blank" class="lbl">github.com/busrasagirr</a><br><br>
        <label class="lbl">busrasagirr@hotmail.com </label><br><br>
    </div>
</div>

{% endblock  %}