{% extends "base.html" %}

{% block content %}

<h2> Hareketi Düzenle: </h2>
<form method="post">
    <div class="solB">
        <label class="lbl"> Kategori: </label><br><br>
        
        <input type="hidden" name="HareketID" class="textBox" value = "{{ veri[0] }}"><br>
        <label class="lbl"> Tutar : </label><br><br>
        <label class="lbl"> Tarih : </label><br>
    </div>
    <div class="sagB">  
        <input type="hidden" name="KullaniciID" class="textBox" value = "{{ veri[1] }}"> 
        <form action="/HareketEkle" method="get">
            <input list="kategoriler" name="Kategori" id="Kategori" style="height:30px; border-color:#985898" value="{{ veri[3] }}">
            <datalist id="kategoriler">
                <option value="{{ veri[3] }}" >
                {% for d in veri2 %}
                    <option value="{{ d[1] }}">
                {% endfor %}
            </datalist>
        </form><br><br>
        <input type="hidden" name="KategoriID" class="textBox" value = "{{ veri[7] }}">
        <input type="text" name="Tutar" class="textBox" value = "{{ veri[5] }}"><br><br>    
        <input type="date" name="Tarih" class="textBox" value = "{{ veri[6] }}"><br><br>
        <input type="submit" class="button">
    </div>    
</form>

{% endblock %}