{% extends "base.html" %}

{% block content %}

<h2> Kategori Düzenle: </h2>
<form method="post">
    <div class="solB">
        <input type="hidden" name="KategoriID" class="textBox" value = "{{ veri[0] }}"><br>
        <label class="lbl"> Kategori : </label><br><br>
        <label class="lbl"> Gelir/Gider : </label><br>
    </div>
    <div class="sagB">  
        <input type="text" name="Kategori" class="textBox" value = "{{ veri[1] }}"><br><br> 
        <input type="text" name="GelirGider" class="textBox" value = "{{ veri[2] }}"><br><br>
        <input type="submit" class="button">
    </div>    
</form>

{% endblock %}